
@import 'normalize.css'; /* bring in normalize.css styles */
/* *::after,
*::before, */
* {
  box-sizing: border-box;
}
:root {
  --main-background: #fdf7f2;
  --buttons-color: #f59256;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
  cursor: default;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  color: black;
}

a {
  text-decoration: none;
}
